.carousel-inner>.carousel-item>img {
    height: 600px;
}

.carousel-item {
    height: 600px;
    width: 100%;
    position: relative
}

.image-mask {
    position: absolute;
    top: 0px;
    left: 0px;
    background-color: rgba(0, 0, 0, 0.6);
    height: 100%;
    width: 100%;
}